.container {
  // width: 100%;
  $padding-on-mobile: 20px;
  padding-left: $padding-on-mobile;
  padding-right: $padding-on-mobile;
  margin-left: auto;
  margin-right: auto;
}

@each $bp, $vl in $breakpoints {
  @media (min-width: $vl) {

    // analyse if the containers below of "not-mobile" need the "max-width" attr
    .#{$bp}\:container {
      max-width: $vl !important;
    }

    $not-mobile: bp('sm');

    @if ($vl >=$not-mobile) {
      .container {
        max-width: $vl;

        @if ($vl ==$not-mobile) {
          padding-left: 0px;
          padding-right: 0px;
        }
      }
    }
  }
}