$slate-color-50: #f8fafc;
$slate-color-100: #f1f5f9;
$slate-color-200: #e2e8f0;
$slate-color-300: #cbd5e1;
$slate-color-400: #94a3b8;
$slate-color-500: #64748b;
$slate-color-600: #475569;
$slate-color-700: #334155;
$slate-color-800: #1e293b;
$slate-color-900: #0f172a;
$slate-color-950: #020617;

$gray-color-50: #f9fafb;
$gray-color-100: #f3f4f6;
$gray-color-200: #e5e7eb;
$gray-color-300: #d1d5db;
$gray-color-400: #9ca3af;
$gray-color-500: #6b7280;
$gray-color-600: #4b5563;
$gray-color-700: #374151;
$gray-color-800: #1f2937;
$gray-color-900: #111827;
$gray-color-950: #030712;

$zinc-color-50: #fafafa;
$zinc-color-100: #f4f4f5;
$zinc-color-200: #e4e4e7;
$zinc-color-300: #d4d4d8;
$zinc-color-400: #a1a1aa;
$zinc-color-500: #71717a;
$zinc-color-600: #52525b;
$zinc-color-700: #3f3f46;
$zinc-color-800: #27272a;
$zinc-color-900: #18181b;
$zinc-color-950: #09090b;

$neutral-color-50: #fafafa;
$neutral-color-100: #f5f5f5;
$neutral-color-200: #e5e5e5;
$neutral-color-300: #d4d4d4;
$neutral-color-400: #a3a3a3;
$neutral-color-500: #737373;
$neutral-color-600: #525252;
$neutral-color-700: #404040;
$neutral-color-800: #262626;
$neutral-color-900: #171717;
$neutral-color-950: #0a0a0a;

$stone-color-50: #fafaf9;
$stone-color-100: #f5f5f4;
$stone-color-200: #e7e5e4;
$stone-color-300: #d6d3d1;
$stone-color-400: #a8a29e;
$stone-color-500: #78716c;
$stone-color-600: #57534e;
$stone-color-700: #44403c;
$stone-color-800: #292524;
$stone-color-900: #1c1917;
$stone-color-950: #0c0a09;

$red-color-50: #fef2f2;
$red-color-100: #fee2e2;
$red-color-200: #fecaca;
$red-color-300: #fca5a5;
$red-color-400: #f87171;
$red-color-500: #ef4444;
$red-color-600: #dc2626;
$red-color-700: #b91c1c;
$red-color-800: #991b1b;
$red-color-900: #7f1d1d;
$red-color-950: #450a0a;

$orange-color-50: #fff7ed;
$orange-color-100: #ffedd5;
$orange-color-200: #fed7aa;
$orange-color-300: #fdba74;
$orange-color-400: #fb923c;
$orange-color-500: #f97316;
$orange-color-600: #ea580c;
$orange-color-700: #c2410c;
$orange-color-800: #9a3412;
$orange-color-900: #7c2d12;
$orange-color-950: #431407;

$amber-color-50: #fffbeb;
$amber-color-100: #fef3c7;
$amber-color-200: #fde68a;
$amber-color-300: #fcd34d;
$amber-color-400: #fbbf24;
$amber-color-500: #f59e0b;
$amber-color-600: #d97706;
$amber-color-700: #b45309;
$amber-color-800: #92400e;
$amber-color-900: #78350f;
$amber-color-950: #451a03;

$yellow-color-50: #fefce8;
$yellow-color-100: #fef9c3;
$yellow-color-200: #fef08a;
$yellow-color-300: #fde047;
$yellow-color-400: #facc15;
$yellow-color-500: #eab308;
$yellow-color-600: #ca8a04;
$yellow-color-700: #a16207;
$yellow-color-800: #854d0e;
$yellow-color-900: #713f12;
$yellow-color-950: #422006;

$lima-color-50: #f7fee7;
$lima-color-100: #ecfccb;
$lima-color-200: #d9f99d;
$lima-color-300: #bef264;
$lima-color-400: #a3e635;
$lima-color-500: #84cc16;
$lima-color-600: #65a30d;
$lima-color-700: #4d7c0f;
$lima-color-800: #3f6212;
$lima-color-900: #365314;
$lima-color-950: #1a2e05;

$green-color-50: #f0fdf4;
$green-color-100: #dcfce7;
$green-color-200: #bbf7d0;
$green-color-300: #86efac;
$green-color-400: #4ade80;
$green-color-500: #22c55e;
$green-color-600: #16a34a;
$green-color-700: #15803d;
$green-color-800: #166534;
$green-color-900: #14532d;
$green-color-950: #052e16;

$emerald-color-50: #ecfdf5;
$emerald-color-100: #d1fae5;
$emerald-color-200: #a7f3d0;
$emerald-color-300: #6ee7b7;
$emerald-color-400: #34d399;
$emerald-color-500: #10b981;
$emerald-color-600: #059669;
$emerald-color-700: #047857;
$emerald-color-800: #065f46;
$emerald-color-900: #064e3b;
$emerald-color-950: #022c22;

$teal-color-50: #f0fdfa;
$teal-color-100: #ccfbf1;
$teal-color-200: #99f6e4;
$teal-color-300: #5eead4;
$teal-color-400: #2dd4bf;
$teal-color-500: #14b8a6;
$teal-color-600: #0d9488;
$teal-color-700: #0f766e;
$teal-color-800: #115e59;
$teal-color-900: #134e4a;
$teal-color-950: #042f2e;

$cyan-color-50: #ecfeff;
$cyan-color-100: #cffafe;
$cyan-color-200: #a5f3fc;
$cyan-color-300: #67e8f9;
$cyan-color-400: #22d3ee;
$cyan-color-500: #06b6d4;
$cyan-color-600: #0891b2;
$cyan-color-700: #0e7490;
$cyan-color-800: #155e75;
$cyan-color-900: #164e63;
$cyan-color-950: #083344;

$sky-color-50: #f0f9ff;
$sky-color-100: #e0f2fe;
$sky-color-200: #bae6fd;
$sky-color-300: #7dd3fc;
$sky-color-400: #38bdf8;
$sky-color-500: #0ea5e9;
$sky-color-600: #0284c7;
$sky-color-700: #0369a1;
$sky-color-800: #075985;
$sky-color-900: #0c4a6e;
$sky-color-950: #082f49;

$blue-color-50: #eff6ff;
$blue-color-100: #dbeafe;
$blue-color-200: #bfdbfe;
$blue-color-300: #93c5fd;
$blue-color-400: #60a5fa;
$blue-color-500: #3b82f6;
$blue-color-600: #2563eb;
$blue-color-700: #1d4ed8;
$blue-color-800: #1e40af;
$blue-color-900: #1e3a8a;
$blue-color-950: #172554;

$indigo-color-50: #eef2ff;
$indigo-color-100: #e0e7ff;
$indigo-color-200: #c7d2fe;
$indigo-color-300: #a5b4fc;
$indigo-color-400: #818cf8;
$indigo-color-500: #6366f1;
$indigo-color-600: #4f46e5;
$indigo-color-700: #4338ca;
$indigo-color-800: #3730a3;
$indigo-color-900: #312e81;
$indigo-color-950: #1e1b4b;

$violet-color-50: #f5f3ff;
$violet-color-100: #ede9fe;
$violet-color-200: #ddd6fe;
$violet-color-300: #c4b5fd;
$violet-color-400: #a78bfa;
$violet-color-500: #8b5cf6;
$violet-color-600: #7c3aed;
$violet-color-700: #6d28d9;
$violet-color-800: #5b21b6;
$violet-color-900: #4c1d95;
$violet-color-950: #2e1065;

$purple-color-50: #faf5ff;
$purple-color-100: #f3e8ff;
$purple-color-200: #e9d5ff;
$purple-color-300: #d8b4fe;
$purple-color-400: #c084fc;
$purple-color-500: #a855f7;
$purple-color-600: #9333ea;
$purple-color-700: #7e22ce;
$purple-color-800: #6b21a8;
$purple-color-900: #581c87;
$purple-color-950: #3b0764;

$fuchsia-color-50: #fdf4ff;
$fuchsia-color-100: #fae8ff;
$fuchsia-color-200: #f5d0fe;
$fuchsia-color-300: #f0abfc;
$fuchsia-color-400: #e879f9;
$fuchsia-color-500: #d946ef;
$fuchsia-color-600: #c026d3;
$fuchsia-color-700: #a21caf;
$fuchsia-color-800: #86198f;
$fuchsia-color-900: #701a75;
$fuchsia-color-950: #4a044e;

$pink-color-50: #fdf2f8;
$pink-color-100: #fce7f3;
$pink-color-200: #fbcfe8;
$pink-color-300: #f9a8d4;
$pink-color-400: #f472b6;
$pink-color-500: #ec4899;
$pink-color-600: #db2777;
$pink-color-700: #be185d;
$pink-color-800: #9d174d;
$pink-color-900: #831843;
$pink-color-950: #500724;

$rose-color-50: #fff1f2;
$rose-color-100: #ffe4e6;
$rose-color-200: #fecdd3;
$rose-color-300: #fda4af;
$rose-color-400: #fb7185;
$rose-color-500: #f43f5e;
$rose-color-600: #e11d48;
$rose-color-700: #be123c;
$rose-color-800: #9f1239;
$rose-color-900: #881337;
$rose-color-950: #4c0519;

$primary-color-50: $neutral-color-50;
$primary-color-100: $neutral-color-100;
$primary-color-200: $neutral-color-200;
$primary-color-300: $neutral-color-300;
$primary-color-400: $neutral-color-400;
$primary-color-500: $neutral-color-500;
$primary-color-600: $neutral-color-600;
$primary-color-700: $neutral-color-700;
$primary-color-800: $neutral-color-800;
$primary-color-900: $neutral-color-900;
$primary-color-950: $neutral-color-950;

$transparent-color: #00000000;
$opacity-color-100: #00000099;