.topic.tertiary {
  box-shadow: $box-shadow-200;
  border-radius: 4px;
  padding: 32px;
  height: 100%;

  .topic-left {
    margin-right: 0px;
    margin-bottom: 4px;

    .icon {
      display: block;
      margin: 0px auto;
    }
  }

  .topic-right {
    color: $neutral-color-800;
  }

  @include md {
    display: flex;
    padding: 40px;

    .topic-left {
      margin-right: 12px;
      margin-bottom: 0px;

      .icon {
        @include square(64px);
      }
    }
  }
}