.aspect-ratio {
  position: relative;
  overflow: hidden;

  &.aspect-1-1 {
    padding-top: $aspect-ratio-1-1;
  }

  &.aspect-3-2 {
    padding-top: $aspect-ratio-3-2;

    &.invert {
      padding-top: $aspect-ratio-2-3;
    }
  }

  &.aspect-4-3 {
    padding-top: $aspect-ratio-4-3;

    &.invert {
      padding-top: $aspect-ratio-3-4;
    }
  }

  &.aspect-8-5 {
    padding-top: $aspect-ratio-8-5;

    &.invert {
      padding-top: $aspect-ratio-5-8;
    }
  }

  &.aspect-16-9 {
    padding-top: $aspect-ratio-16-9;

    &.invert {
      padding-top: $aspect-ratio-9-16;
    }
  }

  >* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &.fit>* {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.width>* {
    width: 100%;
  }

  &.height>* {
    height: 100%;
  }
}