.circle-button {
  $area: 48px;
  $padding: 20px;
  @include flex-center-center;
  width: $area;
  height: $area;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: $neutral-color-50;
  transition: all 0.2s ease 0s;
  user-select: none;

  &:focus,
  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.pm-button {
    background-color: $primary-color-500;
    color: $neutral-color-50;
  }

  &.sc-button {
    background-color: transparent;
    border: $primary-border;
  }

  @include responsive("left",
    "center",
    "right",
    "small",
    "regular",
    "large",
  ) using ($class) {
    @if $class =="left" {
      margin: 0px auto 0px 0px;
    }

    @else if $class =="center" {
      margin: 0px auto;
    }

    @else if $class =="right" {
      margin: 0px 0px 0px auto;
    }

    @else if $class =="small" {
      width: $area - 16px;
      height: $area - 16px;
    }

    @else if $class =="regular" {
      width: $area;
      height: $area;
    }

    @else if $class =="large" {
      width: $area + 16px;
      height: $area + 16px;
    }
  }
}