<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gustavo Dias | {% block title %}Website{% endblock %}</title>
  <link rel="icon" href="">
  <link rel="stylesheet" href="../css/pages/{% block css %}{% endblock %}.css" />
</head>

<body>
  <div id="app">
    {% block content %}{% endblock %}
  </div>
  {% block script %}{% endblock %}
  <script src="../js/pages/{% block js %}{% endblock %}.js"></script>
</body>

</html>