@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: #f1f1f1;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    background-image: linear-gradient(#00c3ff, #0066ff);
    border: 3px solid #e9e9e9;
    width: 100%;
    padding: 30px;
}

.profile-image {
    background-image: url("../assets/me.jpg");
    background-size: cover;
    border-radius: 100px;
    width: 130px;
    height: 130px;
    margin: auto;
}

#gradient-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 142px;
    margin: auto;
    border-radius: 130px;
    background-image: linear-gradient(to right, #00ff73, #00f7ff);
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}

h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 8px;
    line-height: 25px;
}

p {
    line-height: 20px;
    margin-bottom: 8px;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
}

section {
    /* margin: .5rem 0; */
}

.topic-container {
    margin: 30px auto;
    max-width: 235px;
}

.big-icon {
    width: 130px;
}

.example {
    font-size: .9rem;
    background-color: unset;
    border: 2px solid #e9e9e9;
    border-radius: 50px;
    padding: .5rem 1.5rem;
    margin: .5rem .8rem;
    line-height: 25px;
    transition: 0.2s;
}

.example:hover, .example:active {
    background: #e9e9e9;
    color: #0084ff;
}

.links-social li {
    display: inline-block;
    margin: .2rem;
}

.links-social a {
    font-size: 1rem;
    text-decoration: underline;
}